@charset "UTF-8";
//
// "Noto Sans JP"(japanese) http://www.google.com/fonts/earlyaccess
//
@font-face {
	font-family: "Noto Sans JP";
	font-style: normal;
	font-weight: 200;
	src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format("woff2"),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format("woff"),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format("opentype");
}

@font-face {
	font-family: "Noto Sans JP";
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype");
 }
@font-face {
	font-family: "Noto Sans JP";
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format("woff2"),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format("woff"),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format("opentype");
 }

// WebFont irohakakuC
@font-face {
	font-family: "irohakakuC-w";
	src: url(#{$font-family-webfont-url}fonts/irohakakuC-Light.woff2) format("woff2"),
		url(#{$font-family-webfont-url}fonts/irohakakuC-Light.woff) format("woff"),
		url(#{$font-family-webfont-url}fonts/irohakakuC-Light.ttf) format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "irohakakuC-w";
	src: url(#{$font-family-webfont-url}fonts/irohakakuC-Regular.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/irohakakuC-Regular.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/irohakakuC-Regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "irohakakuC-w";
	src: url(#{$font-family-webfont-url}fonts/irohakakuC-Bold.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/irohakakuC-Bold.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/irohakakuC-Bold.ttf) format("truetype");
	font-weight: 700;
}

// WebFont mgenplus p
@font-face {
	font-family: "mgenplus-p-w";
	src: url(#{$font-family-webfont-url}fonts/mgenplus-p-light.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/mgenplus-p-light.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/mgenplus-p-light.ttf) format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "mgenplus-p-w";
	src: url(#{$font-family-webfont-url}fonts/mgenplus-p-regular.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/mgenplus-p-regular.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/mgenplus-p-regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "mgenplus-p-w";
	src: url(#{$font-family-webfont-url}fonts/mgenplus-p-bold.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/mgenplus-p-bold.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/mgenplus-p-bold.ttf) format("truetype");
	font-weight: 700;
}

// WebFont mgenplus c
@font-face {
	font-family: "mgenplus-c-w";
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-light.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/mgenplus-c-light.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/mgenplus-c-light.ttf) format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "mgenplus-c-w";
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.ttf) format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "mgenplus-c-w";
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.woff2) format("woff2"),
	url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.woff) format("woff"),
	url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.ttf) format("truetype");
	font-weight: 700;
}
