@charset "UTF-8";

// WebFont GenShinGothic
@font-face {
	font-family: 'GenShinGothic-w';
	src: url(#{$font-family-webfont-url}fonts/GenShinGothic-Light.eot);
	src: url(#{$font-family-webfont-url}fonts/GenShinGothic-Light?#iefix.eot) format('embedded-opentype'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Light.woff2) format('woff2'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Light.woff) format('woff'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Light.ttf) format('truetype');
	font-weight: 200;
}
@font-face {
	font-family: 'GenShinGothic-w';
	src: url(#{$font-family-webfont-url}fonts/GenShinGothic-Regular.eot);
	src: url(#{$font-family-webfont-url}fonts/GenShinGothic-Regular.eot?#iefix) format('embedded-opentype'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Regular.woff2) format('woff2'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Regular.woff) format('woff'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Regular.ttf) format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'GenShinGothic-w';
	src: url(#{$font-family-webfont-url}fonts/GenShinGothic-Bold.eot);
	src: url(#{$font-family-webfont-url}fonts/GenShinGothic-Bold.eot?#iefix) format('embedded-opentype'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Bold.woff2) format('woff2'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Bold.woff) format('woff'),url(#{$font-family-webfont-url}fonts/GenShinGothic-Bold.ttf) format('truetype');
	font-weight: 700;
}

// WebFont mgenplus
@font-face {
	font-family: 'mgenplus-c-w';
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-light.eot);
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-light.eot?#iefix) format('embedded-opentype'),url(#{$font-family-webfont-url}fonts/mgenplus-c-light.woff2) format('woff2'),url(#{$font-family-webfont-url}fonts/mgenplus-c-light.woff) format('woff'),url(#{$font-family-webfont-url}fonts/mgenplus-c-light.ttf) format('truetype');
	font-weight: 200;
}
@font-face {
	font-family: 'mgenplus-c-w';
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.eot);
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.eot?#iefix) format('embedded-opentype'),url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.woff2) format('woff2'),url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.woff) format('woff'),url(#{$font-family-webfont-url}fonts/mgenplus-c-regular.ttf) format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'mgenplus-c-w';
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.eot);
	src: url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.eot?#iefix) format('embedded-opentype'),url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.woff2) format('woff2'),url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.woff) format('woff'),url(#{$font-family-webfont-url}fonts/mgenplus-c-bold.ttf) format('truetype');
	font-weight: 700;
}
