@charset "UTF-8";

// animation
a, a img, .btn, button, input, .custom-file-control, html [type="button"], [type="reset"], [type="submit"], .table-hover tbody tr {
	transition-timing-function: ease;
	transition-duration: 0.25s;
	transition-property: all;
}

a:focus, a:hover {
	img {
		filter: brightness(85%) blur(1px);
	}
}

a:active {
	img {
		filter: brightness(70%) blur(1px);
	}
}

.alert, .list-group-item {
	p {
		margin: 0;
	}
}

.custom-file-control::before {
	content: "選択";
}

.custom-file-control::after {
	content: "ファイルの挿入";
}

.btn-group-vertical {
	.btn {
		margin: 0;
	}
}
