@charset 'UTF-8';
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.btn-twitter .fa.fa-lg,
.btn-facebook .fa.fa-lg
{
    margin-right: 2px;

    vertical-align: -1px;
}

.btn-twitter
{
    color: #fff;
    border-color: #4ca7ed;
    background-color: #55acee;
}
.btn-twitter:hover
{
    color: #fff;
    border-color: #178ce5;
    background-color: #2795e9;
}
.btn-twitter:focus,
.btn-twitter.focus
{
    box-shadow: 0 0 0 2px rgba(76, 167, 237, .5);
}
.btn-twitter.disabled,
.btn-twitter:disabled
{
    border-color: #4ca7ed;
    background-color: #55acee;
}
.btn-twitter:active,
.btn-twitter.active,
.show > .btn-twitter.dropdown-toggle
{
    color: #fff;
    border-color: #178ce5;
    background-color: #2795e9;
    background-image: none;
}

.btn-facebook
{
    color: #fff;
    border-color: #385591;
    background-color: #3b5998;
}
.btn-facebook:hover
{
    color: #fff;
    border-color: #273b65;
    background-color: #2d4373;
}
.btn-facebook:focus,
.btn-facebook.focus
{
    box-shadow: 0 0 0 2px rgba(56, 85, 145, .5);
}
.btn-facebook.disabled,
.btn-facebook:disabled
{
    border-color: #385591;
    background-color: #3b5998;
}
.btn-facebook:active,
.btn-facebook.active,
.show > .btn-facebook.dropdown-toggle
{
    color: #fff;
    border-color: #273b65;
    background-color: #2d4373;
    background-image: none;
}

.btn-hatebu
{
    color: #fff;
    border-color: #1689d5;
    background-color: #178fde;
}
.btn-hatebu:hover
{
    color: #fff;
    border-color: #10659d;
    background-color: #1271b0;
}
.btn-hatebu:focus,
.btn-hatebu.focus
{
    box-shadow: 0 0 0 2px rgba(22, 137, 213, .5);
}
.btn-hatebu.disabled,
.btn-hatebu:disabled
{
    border-color: #1689d5;
    background-color: #178fde;
}
.btn-hatebu:active,
.btn-hatebu.active,
.show > .btn-hatebu.dropdown-toggle
{
    color: #fff;
    border-color: #10659d;
    background-color: #1271b0;
    background-image: none;
}

.fa.fa-hatebu::before
{
    font-family: Verdana;
    font-weight: bold;

    content: 'B!';
}

.social-button
{
    position: relative;

    overflow: hidden;

    margin: 0 auto !important;
    padding: 1rem 0;
}
.social-button > ul
{
    position: relative;
    left: 50%;

    float: left;

    margin: 0;
    padding: 0;

    list-style: outside none none;
}
.social-button > ul > li
{
    position: relative;
    left: -50%;

    float: left;

    margin: 0 10px;
    padding: 0;
}
.social-button > ul > li .fb-like > span
{
    vertical-align: 0 !important;
}

.social
{
    padding: .7rem 0;

    background: #e0e0e0;
}

.jumbotron.special
{
    position: relative;

    overflow: hidden;

    min-height: 480px;
    margin-bottom: 0;

    text-align: center;

    background-color: #de9aa1;
    background-image: url('../img/circle.png');
    background-repeat: no-repeat;
    background-position: -35% center;
    background-size: 70%;
}
.jumbotron.special .honoka
{
    position: absolute;
    bottom: -20px;
    left: 0;

    width: 400px;
    height: 530px;

    background-image: url('../img/honoka.png');
    background-repeat: no-repeat;
}
.jumbotron.special .outline
{
    margin-top: 100px;
}
.jumbotron.special h1,
.jumbotron.special .h1
{
    font-family: 'mgenplus-p-w', sans-serif;
    font-weight: 700;
}
.jumbotron.special .download
{
    margin: 1.5rem auto .75rem;
}
.jumbotron.special .basedon
{
    margin: .75rem auto;

    color: #bdbdbd;
    text-shadow: #fff 0 1px 2px;
}
.jumbotron.special p
{
    font-size: 1.2rem;
}

section.section
{
    padding: 7rem 0;
}
section.section.section-default
{
    background-color: #fff;
}
section.section.section-inverse
{
    color: #fff;
    background-color: #95313b;
}
section.section.section-inverse .card
{
    color: #000;
}
section.section .subtitle
{
    margin-bottom: 1.5rem;

    text-align: center;
}
section.section .subtitle h2
{
    margin-top: 0;
}

.point .point-box
{
    text-align: center;
}
.point .point-box .point-circle
{
    font-size: 60px;
    line-height: 100px;

    width: 100px;
    height: 100px;
    margin: 0 auto;

    color: #fff;
    border-radius: 100%;
}
.point .point-box .point-circle.start
{
    background-color: #4caf50;
}
.point .point-box .point-circle.replace
{
    background-color: #ff9800;
}
.point .point-box .point-circle.compass
{
    background-color: #2196f3;
}
.point .point-box .point-circle.japanese
{
    background-color: #f44336;
}
.point .point-box .point-circle.japanese span.icon-jp::before
{
    font-weight: bold;

    content: 'ã‚';
}
.point .point-box .point-description h4
{
    margin-top: 1rem;

    text-align: center;
}
.point .point-box .point-description p
{
    text-align: justify;
}

.getting-started h3
{
    margin-top: 0;
}

.japanese-font .well > h3
{
    margin-top: 1.5rem;
}

.available-bower
{
    position: relative;

    overflow: hidden;
}
.available-bower .bower-logo
{
    position: absolute;
    right: 40px;
    bottom: 0;

    width: 300px;
    height: 300px;

    opacity: .3;
    background-image: url('../img/bower-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.featured .subtitle h2
{
    font-size: 1.75rem;
}
.featured ul.featured-list a
{
    opacity: .7;
}
.featured ul.featured-list a:hover,
.featured ul.featured-list a:active,
.featured ul.featured-list a:focus
{
    opacity: .5;
}
.featured ul.featured-list li
{
    padding: 1.4rem 3rem;
}

.thumbnail
{
    background: #fff;
}
.thumbnail > a:hover,
.thumbnail > a:active,
.thumbnail > a:focus
{
    opacity: .7;
}

footer
{
    padding: 2.8rem 0;

    color: #eee;
    background-color: #212121;
}
footer .copyright
{
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.bootstrap-default
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4285;
}
.bootstrap-default > h3
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.alpha-bar
{
    font-weight: 700;

    display: block;

    padding: 1em;

    text-align: center;

    color: #fff;
    background-color: #48181c;
}

.fork .btn
{
    width: 100%;
}
